Repository ViewWay/nexus: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, core, http, resilience, observability, web3

Path conditions:
  runtime: any of: crates/nexus-runtime/, but not: **/tests/**, **/benches/**, **/examples/**, **/*_test.rs, **/test_*.rs, **/benches/*.rs, **/examples/*.rs, **/target/**, **/*.generated.rs, **/build.rs, **/prost/*.rs, **/tonic/*.rs
  core: any of: crates/nexus-core/, but not: **/tests/**, **/benches/**, **/examples/**, **/*_test.rs, **/test_*.rs, **/benches/*.rs, **/examples/*.rs, **/target/**, **/*.generated.rs, **/build.rs, **/prost/*.rs, **/tonic/*.rs
  http: any of: crates/nexus-http/, crates/nexus-router/, crates/nexus-extractors/, crates/nexus-response/, crates/nexus-middleware/, but not: **/tests/**, **/benches/**, **/examples/**, **/*_test.rs, **/test_*.rs, **/benches/*.rs, **/examples/*.rs, **/target/**, **/*.generated.rs, **/build.rs, **/prost/*.rs, **/tonic/*.rs
  resilience: any of: crates/nexus-resilience/, but not: **/tests/**, **/benches/**, **/examples/**, **/*_test.rs, **/test_*.rs, **/benches/*.rs, **/examples/*.rs, **/target/**, **/*.generated.rs, **/build.rs, **/prost/*.rs, **/tonic/*.rs
  observability: any of: crates/nexus-observability/, but not: **/tests/**, **/benches/**, **/examples/**, **/*_test.rs, **/test_*.rs, **/benches/*.rs, **/examples/*.rs, **/target/**, **/*.generated.rs, **/build.rs, **/prost/*.rs, **/tonic/*.rs
  web3: any of: crates/nexus-web3/, but not: **/tests/**, **/benches/**, **/examples/**, **/*_test.rs, **/test_*.rs, **/benches/*.rs, **/examples/*.rs, **/target/**, **/*.generated.rs, **/build.rs, **/prost/*.rs, **/tonic/*.rs

fix: resolve CI documentation build errors
  .github/workflows/ci.yml
  crates/nexus-aop/src/advice.rs
  crates/nexus-aop/src/lib.rs
  crates/nexus-aop/src/pointcut.rs
  crates/nexus-data-annotations/Cargo.toml
  crates/nexus-data-annotations/src/lib.rs
  crates/nexus-data-annotations/src/pre_authorize_macro.rs
  crates/nexus-data-annotations/src/query.rs
  crates/nexus-data-annotations/src/transactional_macro.rs
  crates/nexus-validation-annotations/src/lib.rs
Due: none

fix: Add service discovery dependencies to workspace (Bug #020, #021)
  .claude/settings.local.json
  Cargo.lock
  Cargo.toml
  crates/nexus-cloud/Cargo.toml
  crates/nexus-openapi/Cargo.toml
  crates/nexus-resilience/Cargo.toml
  docs/bug-fixes/phase0.md
Due: resilience

refactor: Simplify CI workflows from 14 to 10 files
  .claude/settings.local.json
  .github/workflows/check-workspace-deps.yml
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  .github/workflows/docs.yml
  .github/workflows/format.yml
  .github/workflows/linux.yml
  .github/workflows/macos.yml
  .github/workflows/outdated.yml
  .github/workflows/quality.yml
  .github/workflows/windows.yml
Due: none

refactor: Simplify CI workflows from 14 to 10 files
  .github/workflows/check-workspace-deps.yml
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  .github/workflows/docs.yml
  .github/workflows/format.yml
  .github/workflows/linux.yml
  .github/workflows/macos.yml
  .github/workflows/outdated.yml
  .github/workflows/quality.yml
  .github/workflows/windows.yml
Due: none

fix: Fix all workspace dependency syntax issues (Bug #022)
  Cargo.toml
  crates/nexus-benches/Cargo.toml
  crates/nexus-cloud/Cargo.toml
  crates/nexus-core/Cargo.toml
  crates/nexus-data-commons/Cargo.toml
  crates/nexus-http/Cargo.toml
  crates/nexus-resilience/Cargo.toml
  crates/nexus-router/Cargo.toml
  crates/nexus-runtime/Cargo.toml
Due: runtime, core, http, resilience

fix: Fix Cargo.toml syntax errors and add missing dependencies (Bug #023)
  Cargo.lock
  Cargo.toml
  crates/nexus-benches/Cargo.toml
  crates/nexus-core/Cargo.toml
  crates/nexus-http/Cargo.toml
  crates/nexus-resilience/Cargo.toml
  crates/nexus-router/Cargo.toml
  crates/nexus-runtime/Cargo.toml
Due: runtime, core, http, resilience

docs: Update bug fix log with Bug #022 and #023
  docs/bug-fixes/phase0.md
Due: none

fix: Resolve API incompatibility issues in examples and add missing dependencies
  .claude/settings.local.json
  Cargo.lock
  crates/nexus-http/Cargo.toml
  crates/nexus-http/src/validation.rs
  docs/bug-fixes/phase0.md
  examples/Cargo.toml
  examples/src/multipart_example.rs
  examples/src/upload_form.html
  examples/src/validation_example.rs
Due: http

docs: 更新项目进度状态，反映 Phase 0-6 已完成，Phase 7 进行中
  .claude/settings.local.json
  CLAUDE.md
  Cargo.toml
  README.md
  README.zh.md
  examples/src/multipart_example.rs
  examples/src/resilience_example.rs
Due: none

fix: Resolve CI lint and compilation issues
  Cargo.toml
  clippy.toml
  crates/nexus-cache/src/lib.rs
  crates/nexus-config/src/properties.rs
  crates/nexus-http/src/lib.rs
  crates/nexus-response/src/response.rs
  crates/nexus-runtime/src/channel.rs
  crates/nexus-runtime/src/io.rs
  crates/nexus-runtime/src/lib.rs
  crates/nexus-runtime/src/scheduler/work_stealing.rs
  crates/nexus-runtime/src/task.rs
  crates/nexus-runtime/src/time.rs
  crates/nexus-security/src/auth.rs
  crates/nexus-security/src/lib.rs
  crates/nexus-security/src/rbac.rs
  crates/nexus-web3/src/contract.rs
  crates/nexus-web3/src/tx.rs
  examples/cache_example.rs
  examples/src/multipart_example.rs
  examples/src/resilience_example.rs
  examples/src/security_example.rs
  examples/src/validation_example.rs
Due: runtime, http, web3

fix: Update validation doctests to match current API
  crates/nexus-http/src/validation.rs
Due: http

security: Fix Dependabot vulnerabilities (GHSA-gfxp-f68g-8x78, GHSA-hhw4-xg65-fp2x, GHSA-2gh3-rmm4-6rq5)
  Cargo.lock
  Cargo.toml
  crates/nexus-data-commons/Cargo.toml
  crates/nexus-resilience/Cargo.toml
Due: resilience

fix: Remove opentelemetry-prometheus to fix protobuf vulnerability
  Cargo.lock
  Cargo.toml
  crates/nexus-observability/Cargo.toml
Due: observability

fix: 移除未使用的 proc-macro-error 依赖，减少安全警告
  .claude/settings.local.json
  Cargo.lock
  crates/nexus-macros/Cargo.toml
  crates/nexus-observability/Cargo.toml
Due: observability

fix: 修复测试编译错误
  crates/nexus-core/src/reflect.rs
  crates/nexus-validation/src/extractor.rs
  crates/nexus-web3/src/contract.rs
Due: core, web3

fix: 修复测试失败和编译错误
  crates/nexus-cache/src/cache_manager.rs
  crates/nexus-cache/src/condition_evaluator.rs
  crates/nexus-data-commons/src/entity.rs
  crates/nexus-data-commons/src/query.rs
  crates/nexus-tx/src/manager.rs
  crates/nexus-tx/src/template.rs
  crates/nexus-tx/src/transactional.rs
Due: none

feat: enhance project structure and add new features
  Cargo.lock
  crates/nexus-web3/src/lib.rs
  examples/Cargo.toml
  examples/src/actuator_example.rs
  examples/src/core_example.rs
  examples/src/exceptions_example.rs
  examples/src/hello_world.rs
  examples/src/http_example.rs
  examples/src/json_api.rs
  examples/src/middleware_demo.rs
  examples/src/multipart_example.rs
  examples/src/quick_start.rs
  examples/src/resilience_example.rs
  examples/src/router_demo.rs
  examples/src/router_example.rs
  examples/src/schedule_example.rs
  examples/src/security_example.rs
  examples/src/todo_api.rs
  examples/src/upload_form.html
  examples/src/validation_example.rs
  examples/src/web3_example.rs
Due: web3

feat: implement unified logging system with Verbose/Simple modes
  .claude/settings.local.json
  Cargo.lock
  Cargo.toml
  README.md
  crates/nexus-macros/src/lib.rs
  crates/nexus-observability/Cargo.toml
  crates/nexus-observability/src/lib.rs
  crates/nexus-observability/src/log.rs
  crates/nexus-observability/src/nexus_format.rs
  crates/nexus-starter/Cargo.toml
  crates/nexus-starter/resources/META-INF/nexus/autoconfiguration.imports
  crates/nexus-starter/src/actuator/mod.rs
  crates/nexus-starter/src/cache/mod.rs
  crates/nexus-starter/src/config/environment.rs
  crates/nexus-starter/src/config/loader.rs
  crates/nexus-starter/src/config/mod.rs
  crates/nexus-starter/src/config/properties.rs
  crates/nexus-starter/src/core/autoconfig.rs
  crates/nexus-starter/src/core/condition.rs
  crates/nexus-starter/src/core/config.rs
  crates/nexus-starter/src/core/container.rs
  crates/nexus-starter/src/core/loader.rs
  crates/nexus-starter/src/core/logging.rs
  crates/nexus-starter/src/core/mod.rs
  crates/nexus-starter/src/core/scanner.rs
  crates/nexus-starter/src/data/mod.rs
  crates/nexus-starter/src/lib.rs
  crates/nexus-starter/src/prelude.rs
  crates/nexus-starter/src/schedule/mod.rs
  crates/nexus-starter/src/security/mod.rs
  crates/nexus-starter/src/web/mod.rs
  docs/book/src/advanced/observability.md
  docs/logging.md
  docs/starter-autoconfig-design.md
  examples/Cargo.toml
  examples/META-INF/nexus/autoconfiguration.imports
  examples/src/logging_demo.rs
  examples/src/starter_example.rs
Due: observability

feat: add compression middleware and runtime benchmarks
  Cargo.lock
  crates/nexus-core/src/context.rs
  crates/nexus-http/src/ext.rs
  crates/nexus-http/src/http2.rs
  crates/nexus-http/src/response.rs
  crates/nexus-middleware/Cargo.toml
  crates/nexus-middleware/src/compression.rs
  crates/nexus-middleware/src/lib.rs
  crates/nexus-middleware/src/logger.rs
  crates/nexus-middleware/src/static_files.rs
  crates/nexus-runtime/Cargo.toml
  crates/nexus-runtime/benches/runtime_bench.rs
  crates/nexus-runtime/src/select.rs
Due: runtime, core, http

feat: Add performance testing infrastructure
  Cargo.lock
  crates/nexus-data-rdbc/src/row.rs
  examples/Cargo.toml
  examples/src/stress_test.rs
  examples/src/techempower_benchmark.rs
  fuzzers/Cargo.toml
  fuzzers/README.md
  fuzzers/fuzz_targets/compression.rs
  fuzzers/fuzz_targets/http_request_parsing.rs
  fuzzers/fuzz_targets/router_matching.rs
Due: none

fix: Fix JWT authentication middleware API compatibility
  CLAUDE.md
  Cargo.lock
  crates/nexus-middleware/Cargo.toml
  crates/nexus-middleware/src/jwt_auth.rs
  crates/nexus-middleware/src/lib.rs
Due: http

security: Fix dependency vulnerabilities
  Cargo.lock
  Cargo.toml
Due: none

docs: Add security audit report for Phase 7
  docs/SECURITY_AUDIT.md
Due: none

docs: Update project status to 80% Phase 7 completion
  .claude/settings.local.json
  CLAUDE.md
  README.md
  docs/book/src/advanced/observability.md
Due: none

docs: Update CHANGELOG for Phase 7 progress (80% complete)
  CHANGELOG.md
Due: none

docs: Update project status to 90% Phase 7 completion
  CLAUDE.md
  README.md
Due: none

release: v0.1.0-alpha.3 - Phase 7 Production Ready Complete
  CHANGELOG.md
  CLAUDE.md
  README.md
  crates/nexus-runtime/benches/runtime_bench.rs
  crates/nexus-starter/src/config/properties.rs
  docs/design/implementation-plan.md
Due: none

feat: 实现 TODO 项目并添加详细的实现说明
  Cargo.lock
  crates/nexus-runtime/src/scheduler/handle.rs
  crates/nexus-starter/Cargo.toml
  crates/nexus-starter/src/config/loader.rs
  crates/nexus-starter/src/core/config.rs
  crates/nexus-starter/src/core/scanner.rs
  crates/nexus-starter/src/lib.rs
  crates/nexus-starter/src/web/mod.rs
Due: runtime

fix: 修复所有库警告并完善文档
  README.md
  README.zh.md
  crates/nexus-cache/src/lib.rs
  crates/nexus-config/src/lib.rs
  crates/nexus-data-commons/src/entity.rs
  crates/nexus-data-commons/src/lib.rs
  crates/nexus-data-commons/src/query.rs
  crates/nexus-data-commons/src/repository.rs
  crates/nexus-data-rdbc/src/connection.rs
  crates/nexus-data-rdbc/src/lib.rs
  crates/nexus-exceptions/src/lib.rs
  crates/nexus-middleware/src/lib.rs
  crates/nexus-runtime/src/io.rs
  crates/nexus-security/src/lib.rs
  crates/nexus-starter/src/core/condition.rs
  crates/nexus-starter/src/core/logging.rs
  crates/nexus-tx/src/lib.rs
  crates/nexus-web3/src/lib.rs
Due: runtime, http, web3

docs: 移除 DEFAULT_WORKER_THREADS 过时的 TODO 注释
  crates/nexus-starter/src/lib.rs
Due: none

feat: Add custom log pattern parsing and fix histogram export
  crates/nexus-observability/src/log.rs
  crates/nexus-observability/src/metrics.rs
Due: observability

feat: Complete placeholder replacement implementation in nexus-starter
  crates/nexus-starter/src/config/properties.rs
Due: none

feat: Implement expression parser in nexus-starter condition
  crates/nexus-starter/src/core/condition.rs
Due: none

feat: Implement HTTP server startup in nexus-starter web
  crates/nexus-starter/src/web/mod.rs
Due: none

feat: Implement TaskScheduler in nexus-starter schedule
  crates/nexus-schedule/src/lib.rs
  crates/nexus-starter/src/schedule/mod.rs
Due: none
